<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Aniversay Appa and Amma</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  
  <div class="present">
    <div class="lid">
      <span></span>
    </div>
    <div class="promo">
      <p>HAPPY ANNIVERSARY</p>
      <h2>APPA AND AMMMA</h2>
    </div>
    <div class="box">
      <span></span>
      <span></span>
    </div>
  </div>

</body>
</html>